hr{border:1px dashed #ddd}
strong{font-weight:700}
sub,sup{font-size:.75em;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.2em}
small{font-size:.85em}
abbr,acronym{border-bottom:1px dotted}
dl,ol,ul{margin:0 20px}
ol ol,ol ul,ul ol,ul ul{margin-top:0;margin-bottom:0}
ul{list-style:disc}
ol{list-style:decimal}
dt{font-weight:700}
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,td,th{text-align:left;font-weight:400;vertical-align:middle}
a img{border:none}
html{font-size:14px}
body{background-color:#f0f0f0;color:#333;font-family:-apple-system,Avenir-light,AvenirLTStd-Light,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;line-height:1.6rem}
a{position:relative;color:#333;text-decoration:none;-webkit-transition:color .2s ease;-moz-transition:color .2s ease;-ms-transition:color .2s ease;transition:color .2s ease}
a:hover{color:#db4d52}
#backToTop{position:fixed;z-index:999;bottom:2.285714285714286rem;left:50%;margin-left:21.285714285714285rem;background-color:#fbfbfb;width:2.285714285714286rem;height:2.285714285714286rem;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;opacity:0;cursor:pointer}
#backToTop.show{opacity:1}
#backToTop:hover{-webkit-box-shadow:0 10px 20px rgba(0,0,0,.07);box-shadow:0 10px 20px rgba(0,0,0,.07)}
#backToTop:hover .back-arrow-right{-webkit-transform:rotate(45deg) translate(-3px,0);-moz-transform:rotate(45deg) translate(-3px,0);-ms-transform:rotate(45deg) translate(-3px,0);transform:rotate(45deg) translate(-3px,0)}
#backToTop:hover .back-arrow-left{-webkit-transform:rotate(-45deg) translate(3px,0);-moz-transform:rotate(-45deg) translate(3px,0);-ms-transform:rotate(-45deg) translate(3px,0);transform:rotate(-45deg) translate(3px,0)}
#backToTop .back-arrow{background-color:#db4d52;width:.8rem;height:2px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#backToTop .back-arrow-right{-webkit-transform:rotate(30deg) translate(-2px,0);-moz-transform:rotate(30deg) translate(-2px,0);-ms-transform:rotate(30deg) translate(-2px,0);transform:rotate(30deg) translate(-2px,0)}
#backToTop .back-arrow-left{-webkit-transform:rotate(-30deg) translate(2px,0);-moz-transform:rotate(-30deg) translate(2px,0);-ms-transform:rotate(-30deg) translate(2px,0);transform:rotate(-30deg) translate(2px,0)}
.container{width:38rem;margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media screen and (max-width:479px){.container{width:100%;padding:0 1rem}
}
.header{padding:2.285714285714286rem 0;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:end;-moz-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.header-left{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex}
.avatar{width:4rem;height:4rem;background-color:#fff;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;outline:3px solid #fff;outline-offset:-3px}
.avatar img{width:100%;height:100%}
.author{margin-left:1.142857142857143rem;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;padding:.3rem 0}
.author-name{font-size:1.142857142857143rem}
.about-me{color:#a0a0a0}
.navigation:after,.navigation:before{content:"";display:table}
.navigation:after{clear:both}
.navigation li{float:left;margin-left:2rem}
.navigation li a{color:#a0a0a0}
.navigation li a:after{display:none}
.navigation li a:hover{color:#db4d52}
footer{color:#a0a0a0;font-size:12px}
footer a{color:#a0a0a0}
.rights{padding:1.142857142857143rem 0}
.about-me-mask{position:fixed;background-color:rgba(255,255,255,.48);top:0;right:0;bottom:0;left:0;height:100%;z-index:1000;display:none}
.about-me-mask.open{display:block}
.about-me-wrap{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:30rem;margin:10rem auto;padding:2.285714285714286rem 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#fbfbfb;border:1px solid #d0d0d0;border-radius:6px;-webkit-box-shadow:0 10px 20px rgba(0,0,0,.07);box-shadow:0 10px 20px rgba(0,0,0,.07)}
@media screen and (max-width:479px){.about-me-wrap{width:auto;margin:10rem 1rem}
}
.about-me__header .avatar{border-radius:50%;outline:0;overflow:hidden;-webkit-box-shadow:0 6px 10px rgba(0,0,0,.07);box-shadow:0 6px 10px rgba(0,0,0,.07)}
.socials{margin-top:2rem}
.social-item{margin-bottom:1rem}
@media screen and (max-width:479px){.social-item{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:18rem}
}
.social-item .label{width:2rem;height:2rem;display:inline-block;margin:0 .5rem;vertical-align:middle}
.social-item .label img{width:100%;height:100%}
.post{padding:0}
.slide-hide{height:0;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-ms-transition:all 1s ease-in-out;transition:all 1s ease-in-out}
.article{background-color:#fbfbfb;padding:1.828571428571429rem;position:relative;margin-bottom:4.571428571428571rem}
@media screen and (max-width:479px){.article{padding:2.285714285714286rem;line-height:2rem}
}
.home .article{-webkit-transition:all .6s ease;-moz-transition:all .6s ease;-ms-transition:all .6s ease;transition:all .6s ease;margin-bottom:2.285714285714286rem}
.home .article:hover{-webkit-box-shadow:0 10px 20px rgba(0,0,0,.07);box-shadow:0 10px 20px rgba(0,0,0,.07)}
.article img{max-width:100%;display:block}
.article del,.article s,.article strike{color:#a0a0a0}
.article u{text-decoration:none;position:relative}
.article u:after{position:absolute;content:' ';bottom:0;left:0;width:100%;height:1px;background-color:#db4d52}
.article strong{font-weight:700}
.article cite,.article em{font-style:italic}
.article .checkbox-wrap{-webkit-background-size:80%;-moz-background-size:80%;background-size:80%;background-position:center;background-color:#fff;width:1rem;height:1rem;display:inline-block;padding:1px;margin-right:.3rem;vertical-align:text-top;border-radius:3px;border:1px #a7b0b3 solid}
.article .checkbox-wrap.checked{background-image:url(/images/check.svg);background-repeat:no-repeat}
.article .checkbox-wrap input{display:none}
.article .check-content.checked{text-decoration:line-through;color:#a0a0a0}
.article #more{display:none}
.article dt{font-weight:700}
.article ul{list-style:disc}
.article ol{list-style:decimal}
.article li{line-height:2rem;margin-bottom:1.142857142857143rem;margin-left:1.142857142857143rem;padding-left:.2rem;color:#db4d52}
@media screen and (max-width:479px){.article li{font-size:1.142857142857143rem}
}
.article li .li-inner{color:#333}
.home .article li .li-inner{color:#a0a0a0}
.article li .li-inner p{margin:0}
.title{font-size:18px;font-weight:700;margin-bottom:1.142857142857143rem;line-height:1.6rem}
.home .title{display:block}
@media screen and (max-width:479px){.post .title{line-height:2.8rem;font-size:1.6rem}
}
.title:after{display:none}
.content p{line-height:2rem;margin:2rem 0}
@media screen and (max-width:479px){.content p{font-size:1.142857142857143rem}
}
.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{font-weight:700;line-height:1.1rem;margin:1.1rem 0}
.content h1{font-size:22px}
.content h2{font-size:20px}
.content h3{font-size:18px}
.content h4{font-size:16px}
.content h5{font-size:14px}
.content a{color:#db4d52}
.content a:before{content:'[';margin:0 2px;color:#a0a0a0}
.content a:after{content:']';margin:0 2px;color:#a0a0a0}
.content a.fancybox:after,.content a.fancybox:before,.content a.headerlink:after,.content a.headerlink:before{display:none}
.nav{margin-bottom:4.571428571428571rem}
.nav li{position:relative;color:#a0a0a0;margin-bottom:1.142857142857143rem;line-height:1.8rem}
.nav li a{color:#db4d52}
.nav li a:before{content:'[';margin:0 2px;color:#a0a0a0}
.nav li a:after{content:']';margin:0 2px;color:#a0a0a0}
.nav li:before{content:' ';display:inline-block;vertical-align:middle;left:-gutter-size;background-color:#db4d52;width:4px;height:4px;border-radius:2px;margin-right:1.142857142857143rem}
.excerpt{color:#a0a0a0;margin:1.142857142857143rem 0}
.article-footer{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.date{color:#a0a0a0;margin-bottom:1.142857142857143rem}
.home .date{margin-bottom:0}
.excerpt-link{font-size:1rem}
.home .tags{margin-bottom:1.142857142857143rem}
.tag-link{background-color:#a7b0b3;color:#fff;line-height:22px;padding:0 .6rem;display:inline-block;border-radius:12px;margin-right:.5rem;font-size:12px}
.tag-link:last-child{margin-right:0}
.tag-link:hover{color:#fff}
.tag-link:before{content:'#';color:#e0e8ed;margin-right:.2rem}
.archives{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.post-archive{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:1.142857142857143rem 0;-webkit-flex-basis:50%;flex-basis:50%}
@media screen and (max-width:479px){.post-archive{-webkit-flex-basis:100%;flex-basis:100%}
}
@media screen and (min-width:768px){.post-archive:nth-child(2n+1){padding-right:1rem}
.post-archive:nth-child(2n){padding-left:1rem}
}
.post-archive__content{background-color:#fbfbfb;padding:1.142857142857143rem;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;line-height:1.6rem;-webkit-transition:all .6s ease;-moz-transition:all .6s ease;-ms-transition:all .6s ease;transition:all .6s ease}
.post-archive__content:hover{-webkit-box-shadow:0 10px 20px rgba(0,0,0,.07);box-shadow:0 10px 20px rgba(0,0,0,.07)}
.post-archive__month{color:#a7b0b3;-webkit-flex-basis:3rem;flex-basis:3rem;-webkit-flex-shrink:0;flex-shrink:0}
.post-archive__body{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;-webkit-flex-grow:1;flex-grow:1;overflow:hidden}
.post-archive__title{font-size:1rem;font-weight:700;margin-bottom:.2rem;display:block}
.post-archive__excerpt{color:#a0a0a0;height:3rem;overflow:hidden;position:relative}
.post-archive__excerpt-content{position:absolute;width:100%}
.article .highlight,.article pre{background:#fff;margin:0 0 20px 0;padding:12px 16px;border-radius:6px;overflow:auto;font-size:12px;color:#24292e;line-height:1.8;border:1px solid #e5e5e5}
@media screen and (max-width:479px){.article .highlight,.article pre{line-height:1.6}
}
.article .gist .gist-file .gist-data .line-numbers,.article .highlight .gutter pre{color:#666}
.article code{color:#333;background-color:#fff;border:1px #d8d8d8 solid;font-size:12px}
.article blockquote{border-left:3px solid #db4d52;padding:16px 20px;margin:10px 0;background:#f0f0f0;line-height:1.8}
.article blockquote p{margin:0}
.article table{width:100%;border:1px solid #ddd;border-collapse:collapse}
.article table th{background-color:rgba(229,229,229,.28)}
.article table td,.article table th{border:1px solid #ddd;padding:.75rem}
.article table p{margin:0}
.article code,.article pre{font-family:"fira mono",Consolas,Menlo,Consolas,monospace}
.article code{padding:.3em .5em;margin:0 .2em;border-radius:2px}
.article pre code{background:0 0;text-shadow:none;padding:0}
.article .highlight pre{border:none;margin:0;padding:0}
.article .highlight table{margin:0;padding:0;border:0;width:auto}
.article .highlight td{border:none;padding:0}
.article .highlight figcaption{font-size:.85em;color:#959da5;line-height:1em;margin-bottom:1em}
.article .highlight figcaption:after,.article .highlight figcaption:before{content:"";display:table}
.article .highlight figcaption:after{clear:both}
.article .highlight figcaption a{float:right}
.article .highlight .gutter{display:none}
.article .highlight .gutter pre{text-align:right;padding-right:20px}
.article .highlight .line{line-height:1.8;font-size:12px}
@media screen and (max-width:479px){.article .highlight .line{line-height:1.6;font-size:12px}
}
.article .gist{margin:20px 0;border-style:solid;border-color:$baseBorderColor;border-width:1px 0;background:#fff;padding:15px article-padding 15px 15px}
.article .gist .gist-file{border:none;font-family:$font-en;margin:0}
.article .gist .gist-file .gist-data{background:0 0;border:none}
.article .gist .gist-file .gist-data .line-numbers{background:0 0;border:none;padding:0 20px 0 0}
.article .gist .gist-file .gist-data .line-data{padding:0!important}
.article .gist .gist-file .highlight{margin:0;padding:0;border:none}
.article .gist .gist-file .gist-meta{background:#fff;color:#959da5;font:13px $font-zh;text-shadow:0 0;padding:0;margin-top:1em;margin-left:article-padding}
.article .gist .gist-file .gist-meta a{color:#db4d52;font-weight:400}
.article .gist .gist-file .gist-meta a:hover{text-decoration:underline}
pre .comment{color:#959da5}
pre .attribute,pre .css .class,pre .css .id,pre .css .pseudo,pre .html .doctype,pre .regexp,pre .ruby .constant,pre .tag,pre .variable,pre .xml .doctype,pre .xml .pi,pre .xml .tag .title{color:#d73a49}
pre .built_in,pre .constant,pre .literal,pre .number,pre .params,pre .preprocessor{color:#e36209}
pre .css .rules .attribute,pre .ruby .class .title{color:#009688}
pre .string{color:#539afc}
pre .header,pre .inheritance,pre .ruby .symbol,pre .value,pre .xml .cdata{color:#009688}
pre .title{font-size:12px!important;margin:0!important}
pre .css .hexcolor,pre .title{color:#70c0b1}
pre .coffeescript .title,pre .function,pre .javascript .title,pre .perl .sub,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword{color:#539afc}
pre .javascript .function,pre .keyword{color:#009688}
